@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
:root{
    --green-primary: hsl(181, 29%, 51%);
    --light-grayish-bg: hsl(185, 58%, 96%);
    --dark-grayish-cyan: hsl(180, 8%, 52%);
    --very-dark-grayish: hsl(180, 14%, 20%);
    --white: hsl(0, 0%, 100%);
    --box-shadow: rgba(0, 0, 0, 0.1) 0 20px 25px -5px, rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Spartan', sans-serif;
}
header{
    height: 8rem;
    background-color: var(--green-primary);
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.5rem;
}
h5{
    font-size: 1rem;
}
h6{
    font-size: 0.5rem;
}
.title-container{
    width: 100%;
    height: 100%;
    text-align: center;
}
.title{
    padding-top: 2rem;
}
.title-filter-engine{
    width: 20%;
    margin-left: 40%;
    text-align: center;
    padding-top: 2rem;
    border-bottom: 2px solid #C6E0FF;
}
#filter-engine{
    width: 80%;
    margin-left: 10%;
    margin-top: -2%;
    background-color: var(--white);
    box-shadow: 1.8px 3.7px 3.7px hsl(0deg 0% 0% / 0.44);
}
.filter-div{
    display: flex;
    height: 4rem;
    align-items: center;
}
.subtitle{
    width: 20%;
    text-align: center;
    font-size: 12px;
}
.filter-btns-container{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    width: 80%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
}
.filter-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 13%;
    height: 35%;
    border-radius: 4px;
    font-family: inherit;
    font-weight: bold;
    background-color: var(--light-grayish-bg);
    color: var(--green-primary);
    border: none;
}
.filter-label{
    margin-left: 0.2rem;
}
.icon-remove{
    width: 20%;
    height: 100%;
    border-radius: 0% 10% 10% 0%;
    padding: 0.4rem;
    border: none;
    background-color: var(--very-dark-grayish);
}
#main-container{
    width: 80%;
    margin-left: 10%;
    margin-top: 2rem;;
}
.job-card{
    width: 100%;
    height: 8rem;
    display: flex;
    padding: 1rem;
    margin-bottom: 1rem;
}
.job-card img{
    width: 10%;
    height: 100%;
}
.company-information{
    width: 40%;
    margin-left: 2%;
}
.company-name{
    width: 100%;
    margin-bottom: 3%;
    color: var(--green-primary)
}
.job-position{
    width: 100%;
    margin-bottom: 3%;
}
.job-features span{
    color: var(--very-dark-grayish);
}
.job-skills{
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    gap: 1rem;   
    width: 40%;
}
.job-skills span{
    background-color: var(--light-grayish-bg);
    color: var(--green-primary);
    padding: 0.5rem;
    font-weight: bold;
}